:root {
  --nav-outline: rgba(0, 0, 0, 0.18);
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-size: 1.8rem;
  font-family: "sans-serif";
  font-family: "Koulen";
  font-weight: 400;
  font-style: normal;
}
a {
  text-decoration: none;
}
.Header {
  display: flex;
  width: 100%;
  height: 150px;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}
.header-container {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  width: 150px;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.logo > img {
  height: 90%;
}
.ads-container {
  width: 800px;
  height: 80%;
  background-color: rgb(255, 255, 255);
}
.NavContainer {
  display: flex;
  top: -1px;
  width: 100%;
  height: 50px;
  position: sticky;
  justify-content: center;
  align-items: center;
  background-color: #ff0000;
}
.Nav-Container {
  display: flex;
  font-size: 1.7rem;
  width: 1200px;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}
.Nav-Container div > a {
  color: #dbdbdb;
}
.Nav-Container > div {
  display: flex;
  height: 100%;
  width: 90px;
  justify-content: center;
  align-items: center;
}
.Nav-Container img {
  margin-top: 25%;
  height: 30px;
}
.Nav-Container a:hover {
  color: #ffffff;
}
.actionNav {
  width: 100%;
  height: 100%;
  background-color: var(--nav-outline);
}
.conten-container {
  margin-top: 18px;
  display: flex;
  width: 100%;
  height: 1000px;
  justify-content: center;
}
.conten-container section {
  display: flex;
  width: 1200px;
  background-color: #8a8a8a;
}

.content {
  width: 70%;
  background-color: #8a8a8a;
}
.ads2-container {
  display: flex;
  width: 30%;
  background-color: #b7b7b7;
}

.footer-container {
  display: flex;
  margin-top: 36px;
  width: 100%;
  justify-content: center;
  background-color: #000000;
}
.footer-container > section {
  display: flex;
  padding: 36px 0;
  justify-content: space-between;
  width: 1200px;
}
.footer-container section > div {
  width: 300px;
  color: #8a8a8a;
}
.footer-container strong,
a {
  color: #b7b7b7;
}
.footer-container div {
  margin-bottom: 9px;
}
.footer-container li {
  display: flex;
}
.icobe-size {
  display: flex;
  gap: 3px;
}
